database:
  driver: "mysql"
  host: "localhost"
  port: 3306
  database: "test"
  user: "user"
  password: "secret"
redis:
  host: "localhost"
  port: 6379
  user: ""
  password: ""
server:
  name: smartcherry.test
  port: 8000
app:
  key: rOEtQPwmjs4d67Dmmww01AwSWbKHek9t